<app-header></app-header>
<p-card header="About this Web Portal">
    <p class="m-0">
        This is a programming practice with the goal to provide a solution for the TecAlliance challenge.
    </p>
    <p class="m-0">
        The stack used is Angular 18 as per requirement, Typescript and JavaScript.
    </p>
    <p class="m-0">
        The api's are provided by https://jsonplaceholder.typicode.com.
    </p>
    <p class="m-0">
        All UI compoments and elements are provided by PrimeNG.
    </p>
    <p class="m-0">
        The usage is simple, it's expected an user existing on https://jsonplaceholder.typicode.com/users response, in the 'Let's get it Started' at the main page, the user is redirect to a login page to provide the correct email, if the email is invalid, the user will se an error message, otherwise it will redirect the user to the home page where is possible to list the todos management.
    </p>
</p-card>
